* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #35374B;
    text-align: center;
}

h1 {
    color: #78A083;
}

.introduction {
    height: 95vh;
    width: 100vw;
    /* background-color: #78A083; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player1 {
    margin-bottom: 2vh;
    /* background-color: #78A083; */
    height: 10vh;
    display: flex;
    align-items: center;
}

.textField {
    font-size: 2rem;
    font-weight: 700;
    color: #FFCAD4;
    margin-right: 4vh;
}

.playerText {
    height: 3.5rem;
    width: 13.5rem;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    outline: none;
    text-align: center;
}

.winner {
    /* background-color: #78A083; */
    font-weight: 700;
    font-size: 8rem;
    height: 10vh;
    display: flex;
    align-items: center;
    color: #FBA834;
}

.buttons {
    display: flex;
    position: relative;
    top: 8vh;
}

.new_game {
    background-color: rgb(0, 0, 0);
    height: 8vmin;
    width: 22vmin;
    color: aliceblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-top: 4vh;
    font-size: 2.8vmin;
}

.new_game:active {
    transform: translate(0.2vh, 0.2vh);
}

.one {
    margin-right: 7vh;
}

.container {
    /* background-color: aqua; */
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.box {
    height: 15vmin;
    width: 15vmin;
    font-size: 5rem;
    border-radius: 1rem;
    border: none;
    color: #50727B;
    cursor: pointer;
    background-color: rgb(198, 198, 148);
    font-size: 4rem;
}

.over {
    background-color: rgb(0, 0, 0);
    height: 6vmin;
    width: 15vmin;
    color: aliceblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-top: 4vh;
    font-size: 2.1vmin;
}

.over:active {
    transform: translate(0.2vh, 0.2vh);
}